.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 2vw;
  color: black;
}

.App-header h3{
  animation: App-header-load;
  animation-duration: 3s;
  height: 100%;
  width: 100%;
  margin: 1%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-header-load{
  0%  {margin-top: 23%; opacity: 0%; margin-left: 33%;}
  50% {margin-top: 23%; opacity: 100%;margin-left: 33%;}
  75% {margin-top: 1%; margin-left: 33%;}
  100%  {margin-left: 1%;}
}
